# зависимости
node_modules/
client/node_modules/
server/node_modules/

# Electron сборки и артефакты
/dist/
/build/
/out/
/release/
*.asar
*.exe
*.dmg
*.AppImage
*.msi
*.zip
*.7z

# кэш/локальные файлы
*.log
.DS_Store
Thumbs.db
