# Node / JS
node_modules/
client/node_modules/
server/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Сборки/артефакты
dist/
build/
out/
release/
*.asar

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env
.env
.env.*
